.about-hero-section {
  background-image: url("../img/banner-06.jpg"); /* Tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Aquí está la magia */
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.about-hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* oscurece un poco para el contraste */
  z-index: 1;
}

.about-hero-section .container {
  z-index: 2;
  position: relative;
}
